@import 'norma';
@import 'header';
@import 'main';
@import 'footer';
@import 'media';
body{
    width: 100%;
    .wrapper{
        max-height: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
        "header"
        "main"
        "footer";   
        header{
            grid-area: header;
        }   
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }
                
    }

}
